@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply font-manrope text-base leading-normal h-screen m-0 bg-bgMain text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-manrope m-0;
}

p {
  @apply m-0;
}

a {
  @apply no-underline text-current;
}

ul {
  @apply list-none p-0 m-0;
}

li {
  @apply list-none;
}

img {
  @apply block max-w-full h-auto;
}

.animation {
  @apply transition-all ease-linear duration-300
}