@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  @apply bg-bgColorLt text-textColorLt dark:text-textColorDt;
}
body {
  @apply font-comfortaa text-base leading-normal h-screen  m-0;
}
html.dark {
  @apply bg-bgColorDt text-accentBgColorLt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0;
}

p {
  @apply m-0;
}

a {
  @apply no-underline text-current;
}

ul {
  @apply list-none p-0 m-0;
}

li {
  @apply list-none;
}

img {
  @apply block max-w-full h-auto;
}

.animation {
  @apply transition-all ease-linear duration-300;
}

.yellow-button {
  @apply bg-accentColorLt dark:bg-accentColorDt text-textColorDt dark:text-textColorLt font-bold text-2xl leading-[22px] h-[62px] inline-flex items-center justify-center px-12 rounded-[30px] animation hover:bg-accentHoverColorLt focus:bg-accentHoverColorLt hover:dark:bg-accentHoverColorDt focus:dark:bg-accentHoverColorDt  cursor-pointer;
}

@layer components {
  .scroll-container::-webkit-scrollbar {
    width: 12px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 20px 0;
    border-radius: 10px;
  }

  .dark .scroll-container::-webkit-scrollbar-thumb {
    background-color: theme('colors.accentColorDt');
    border-radius: 10px;
    border: 2px solid theme('colors.accentBgColorLt');
  }

    .scroll-container::-webkit-scrollbar-thumb {
      background-color: theme('colors.accentColorLt');
      border-radius: 10px;
      border: 2px solid theme('colors.accentColorLt');
    }

  .dark .scroll-container::-webkit-scrollbar-thumb {
    border: 2px solid theme('colors.textColorDt');
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.accentHoverColorLt');
  }

   .dark .scroll-container::-webkit-scrollbar-thumb:hover {
      background-color: theme('colors.accentHoverColorDt');
    }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox:hover .checkbox__check {
  background: transparent;
  border: 1px solid theme('colors.accentColorLt');
}

.dark .checkbox:hover .checkbox__check {
  border: 1px solid theme('colors.accentColorDt');
}

.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:checked+.checkbox__check {
  background: theme('colors.accentColorLt');
  border: 1px solid theme('colors.accentColorLt');
  stroke-dashoffset: 0;
}

.dark .checkbox__input:checked + .checkbox__check {
  background: theme('colors.accentColorDt');
  border: 1px solid theme('colors.accentColorDt');

}

.checkbox__check {
  border: 1px solid theme('colors.textColorDt');
  stroke: theme('colors.textColorDt');
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  stroke-linecap: round;
  stroke-width: 1px;
  border-radius: 50%;
  fill: none;
  transition:
    background 0.4s,
    stroke-dashoffset 0.6s;
}
.text-about {
  @apply font-medium text-xl leading-[22px] tracking-[-0.4px];
}
.about-gradient {
  background: linear-gradient(to right, theme('colors.accentBgColorLt'), transparent);
}
.dark .about-gradient {
  background: linear-gradient(to right, theme('colors.accentBgColorDt'), transparent);
}
