@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  @apply bg-bgLt text-textLt dark:text-textDt;
}

html.dark {
  @apply bg-bgDt text-textDt;
}

body {
  @apply font-comfortaa text-base leading-normal min-h-screen flex flex-col m-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0;
}

p {
  @apply m-0;
}

a {
  @apply no-underline text-current;
}

ul {
  @apply list-none p-0 m-0;
}

li {
  @apply list-none;
}

img {
  @apply block max-w-full h-auto;
}

.animation {
  @apply transition-all ease-linear duration-300;
}

.primary-button {
  @apply bg-accentLt dark:bg-accentDt text-textDt dark:text-textLt font-medium text-base leading-none tracking-[-0.48px] h-[34px] inline-flex items-center justify-center rounded-[30px] py-2 px-[18px] md:font-bold md:px-12 md:h-[62px] md:text-2xl md:leading-[22px] animation hover:bg-hoverLt focus:bg-hoverLt hover:dark:bg-hoverDt focus:dark:bg-hoverDt cursor-pointer;
}

@layer components {
  .scroll-container::-webkit-scrollbar {
    width: 12px;
  }

  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 20px 0;
    border-radius: 10px;
  }

  .dark .scroll-container::-webkit-scrollbar-thumb {
    background-color: theme('colors.accentDt');
    border-radius: 10px;
    border: 2px solid theme('colors.accentDt');
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: theme('colors.accentLt');
    border-radius: 10px;
    border: 2px solid theme('colors.accentLt');
  }

  .dark .scroll-container::-webkit-scrollbar-thumb {
    border: 2px solid theme('colors.textDt');
  }

  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.hoverLt');
  }

  .dark .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.hoverDt');
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox:hover .checkbox__check {
  border: 1px solid theme('colors.accentLt');
}

.dark .checkbox:hover .checkbox__check {
  border: 1px solid theme('colors.accentDt');
}

.checkbox__input:focus-visible + .checkbox__check {
  outline: 2px solid theme('colors.accentLt');
  outline-offset: 4px;
}

.dark .checkbox__input:focus-visible + .checkbox__check {
  outline: 2px solid theme('colors.accentDt');
  outline-offset: 4px;
}

.checkbox:focus-within:focus-visible {
  outline: 2px solid theme('colors.accentLt');
  outline-offset: 4px;
}

.dark .checkbox:focus-within:focus-visible {
  outline: 2px solid theme('colors.accentDt');
  outline-offset: 4px;
}

.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__check {
  background: theme('colors.accentLt');
  border: 1px solid theme('colors.accentLt');
  stroke-dashoffset: 0;
}

.dark .checkbox__input:checked + .checkbox__check {
  background: theme('colors.accentDt');
  border: 1px solid theme('colors.accentDt');
}

.checkbox__check {
  background: theme('colors.bgFormLt');
  border: 1px solid theme('colors.textLt');
  stroke: theme('colors.textInvertLt');
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  stroke-linecap: round;
  stroke-width: 1px;
  border-radius: 50%;
  fill: none;
  transition:
    background 0.4s,
    stroke-dashoffset 0.6s;
}

.dark .checkbox__check {
  background: theme('colors.bgFormDt');
  border: 1px solid theme('colors.textDt');
  stroke: theme('colors.textInvertDt');
}

.text-about {
  @apply font-medium text-xl leading-[22px] tracking-[-0.4px];
}
.about-gradient {
  background: linear-gradient(
    to right,
    theme('colors.accentBgLt'),
    transparent
  );
}
.dark .about-gradient {
  background: linear-gradient(
    to right,
    theme('colors.accentBgDt'),
    transparent
  );
}
